@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap");
@import url("https://cdn-uicons.flaticon.com/3.0.0/uicons-regular-straight/css/uicons-regular-straight.css");
@import "tailwindcss";

@font-face {
  font-family: "Genath-Regular";
  src: url("https://db.onlinewebfonts.com/t/850f9b1f887efa683b0723645fd618b2.woff2")
    format("woff2");
}

@font-face {
  font-family: "Atlas Grotesk LC Regular Trial";
  src: url("https://db.onlinewebfonts.com/t/2953f352965168ee6bd7127d00eb2a99.woff2")
    format("woff2");
}

@theme {
  /* Fonts */
  --font-sans: "Atlas Grotesk LC Regular Trial", sans-serif;
  --font-serif: "Genath-Regular", serif;
  --font-genath: "Genath-Regular", serif;
  --font-atlas: "Atlas Grotesk LC Regular Trial", sans-serif;

  /* Delvaux-Inspired Palette */
  --color-primary: #6f0b0b; /* Deep Burgundy / Brandy */
  --color-primary-hover: #4a0505;

  --color-charcoal: #1c1c1a; /* Almost Black */
  --color-stone: #8d8d8c; /* Elegant Grey */
  --color-stone-light: #e5e5e5; /* Thin Borders */

  --color-gold: #d4af37; /* Subtle accent if needed */

  /* Backgrounds */
  --color-bg-white: #ffffff;
  --color-bg-subtle: #fafafa; /* Very light grey for hover */

  /* States */
  --color-success: #2f5d40;
  --color-danger: #8b0000;
}

body {
  background-color: var(--color-bg-white);
  color: var(--color-charcoal);
  font-family: "Atlas Grotesk LC Regular Trial", sans-serif;
  overflow: hidden;
}

/* Headings always Serif */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Genath-Regular", serif;
  color: var(--color-primary);
  letter-spacing: -0.02em;
}

/* Scrollbar Sangat Tipis & Minimalis */
.custom-scroll::-webkit-scrollbar {
  width: 3px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-stone);
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Luxury Input: Border Bottom Only */
.clean-input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--color-stone-light);
  border-radius: 0;
  padding: 0.75rem 0;
  color: var(--color-charcoal);
  font-family: var(--font-serif);
  font-size: 1rem;
  transition: all 0.3s ease;
}

.clean-input:focus {
  border-bottom-color: var(--color-primary);
  outline: none;
  box-shadow: none;
}

/* Print */
@media print {
  .no-print {
    display: none !important;
  }
  body * {
    visibility: hidden;
  }
  #print-area,
  #print-area * {
    visibility: visible;
  }
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

/* Text Hierarchy - Delvaux Style */
.text-primary-info {
  color: var(--color-charcoal);
  font-weight: 500;
}

.text-secondary-info {
  color: var(--color-stone);
  font-weight: 400;
}
